<h1 mat-dialog-title>{{data.pwdExpired ? 'Password Scaduta' : 'Cambio Password'}}</h1>

<div mat-dialog-content>
    <mat-progress-spinner *ngIf="waiting" class="loading-shade" color="primary" mode="indeterminate">
    </mat-progress-spinner>
    <div *ngIf="!changeAllowed; else resetTemplate">
        <p>Sicuro di voler resettare la password?</p>
        <button mat-raised-button color="primary" (click)="changeAllowed = !changeAllowed">Sì</button>
        <button mat-stroked-button color="accent" style="margin-left: 2%;" (click)="closeDialog()">No</button>
    </div>
</div>
<div mat-dialog-actions *ngIf="changeAllowed">
    <button mat-raised-button color="primary" cdkFocusInitial
        [disabled]="waiting || (changeAllowed && !formGroup.valid)" (click)="onSubmit()">Conferma</button>
    <button mat-stroked-button color="accent" *ngIf="!data.pwdExpired" (click)="closeDialog()"
        [disabled]="waiting">Annulla</button>
    <span class="btn-spacer"></span>
    <button mat-raised-button color="accent" *ngIf="data.pwdExpired" (click)="logout()" color="warn"
        matTooltip="Riscontri problemi? Prova ad eseguire il logout" [disabled]="waiting">Logout</button>
</div>


<ng-template #resetTemplate>
    <p *ngIf="!tempPassword">Per reimpostare la password, è necessario inserire prima la vecchia password</p>
    <form [formGroup]="formGroup">
        <mat-form-field *ngIf="!tempPassword">
            <mat-label>Vecchia Password</mat-label>
            <input matInput type="password" placeholder="Vecchia Password" formControlName="oldPassword">
            <mat-error *ngIf="oldPassword.hasError('required')">Obbligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Nuova Password" formControlName="password"
                (input)="onPasswordInput()">
            <mat-error *ngIf="password.hasError('required')">Obbligatorio</mat-error>
            <mat-error *ngIf="password.hasError('minlength')">La nuova password deve avere almeno {{minPw}} caratteri
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="password" placeholder="Conferma password" formControlName="password2"
                (input)="onPasswordInput()">
            <mat-error *ngIf="password2.hasError('required')">Ripeti la nuova password</mat-error>
            <mat-error *ngIf="password2.invalid && !password2.hasError('required')">Le password non coincidono
            </mat-error>
        </mat-form-field>
        <br>
        <p>Memorizza questa password che ti servirà per i prossimi accessi</p>
    </form>
</ng-template>