mat-form-field {
    width: 100%;
}

.btn-spacer {
    flex: 1 1 auto;
    text-align: center;
}

.loading-shade {
    position: absolute;
    left: 46%;
    top: 50%;
    height:60px;
    width:60px;
    margin:0px auto;
    background: transparent;
    z-index: 100;
}