$toolbar-height: 8vh;
$toolbar-min-height: 58px;//non cambiare a meno che non si modifichi anche la dimensione del

@import '~@angular/material/theming';

$gray-color: mat-palette($mat-gray, 600, 300, 800);

$row-selected-color: #b5c7db!important;

$md-primary: (
    50 : #e0f1f5,
    100 : #b3dce5,
    200 : #80c5d4,
    300 : #4daec2,
    400 : #269cb5,
    500 : #008ba8,
    600 : #0083a0,
    700 : #007897,
    800 : #006e8d,
    900 : #005b7d,
    A100 : #aae4ff,
    A200 : #77d4ff,
    A400 : #44c3ff,
    A700 : #2abbff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$md-accent: (
    50 : #fef1e6,
    100 : #fcddc0,
    200 : #fbc697,
    300 : #f9af6d,
    400 : #f79e4d,
    500 : #f68d2e,
    600 : #f58529,
    700 : #f37a23,
    800 : #f2701d,
    900 : #ef5d12,
    A100 : #ffffff,
    A200 : #fff0ea,
    A400 : #ffcdb7,
    A700 : #ffbb9d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$my-blue: (
    50 : #e3e9ef,
    100 : #b9c7d6,
    200 : #8aa2bb,
    300 : #5b7d9f,
    400 : #38618b,
    500 : #154576,
    600 : #123e6e,
    700 : #0f3663,
    800 : #0c2e59,
    900 : #061f46,
    A100 : #7ba5ff,
    A200 : #4883ff,
    A400 : #1560ff,
    A700 : #0050fb,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
$tc-blue: mat-palette($my-blue, 500, 300, 800);


$my-light-blue: (
    50 : #e9f4fc,
    100 : #c8e3f8,
    200 : #a4d1f4,
    300 : #7fbfef,
    400 : #63b1eb,
    500 : #48a3e8,
    600 : #419be5,
    700 : #3891e2,
    800 : #3088de,
    900 : #2177d8,
    A100 : #ffffff,
    A200 : #deecff,
    A400 : #abd0ff,
    A700 : #91c2ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
// below creates a primary palette with three shades of blue
$tc-light-blue: mat-palette($my-light-blue, 500, 300, 900);

$my-red: (
    50 : #f8e7e7,
    100 : #edc2c2,
    200 : #e19a9a,
    300 : #d47172,
    400 : #cb5253,
    500 : #c23435,
    600 : #bc2f30,
    700 : #b42728,
    800 : #ac2122,
    900 : #9f1516,
    A100 : #ffd2d2,
    A200 : #ff9fa0,
    A400 : #ff6c6d,
    A700 : #ff5254,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$tc-warning-color: mat-palette($my-red, 500, 300, 900);



// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
//ogni livello ha: font-size, line-height e font-weight
$tc-typography: mat-typography-config(
  $font-family: 'Ubuntu, sans-serif',

  $display-4: mat-typography-level(112px, 112px, 800),
  $display-3: mat-typography-level(56px, 56px, 800),
  $display-2: mat-typography-level(45px, 48px, 400),
  $display-1: mat-typography-level(34px, 40px, 400),
  $headline: mat-typography-level(24px, 32px, 800),/*h1*/ /*parametri: font-size, line-height e font-weight*/
  $title: mat-typography-level(20px, 32px, 800),
  $subheading-2: mat-typography-level(16px, 28px, 400),
  $subheading-1: mat-typography-level(15px, 24px, 400),
  $body-2: mat-typography-level(16px, 24px, 800),/*base text bold*/
  $body-1: mat-typography-level(16px, 20px, 400),/*base text*/
  $caption: mat-typography-level(12px, 16px, 400),
  $button: mat-typography-level(16px, 14px, 800),
  $input: mat-typography-level(16px, 1.0, 400),

    /*per dimuire altezza righe grid vedere .mat-row, .mat-footer-row in shared-style-list.scss*/
);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($tc-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($tc-typography);


@include mat-core($tc-typography);

$tc-accent: mat-palette($md-accent, 500, 300, 800);
$tc-primary: mat-palette($md-primary, 500, 300, 800);
$tc-warn: $tc-warning-color;
$tc-theme: mat-light-theme($tc-primary, $tc-accent, $tc-warn);

@include angular-material-theme($tc-theme);





