<div class="loginContainer">
    <div class="columnLogin" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px">
        <img src="../../assets/img/logo-light.png" style="max-width:300px" />
        <div fxFlex class="loginInfo">

            <mat-card class="box block">
                <mat-progress-spinner *ngIf="submitting" class="loading-shade" style="left: 38%;" color="accent"
                    mode="indeterminate">
                </mat-progress-spinner>
                <mat-card-content class="contentDetail">
                    <h1 style="font-size: 30px;">Starter Login</h1>
                    <form class="login-form">
                        <mat-form-field>
                            <mat-label>Username</mat-label>
                            <input matInput email placeholder="Email Address" name="username" autocomplete="on"
                                #usernameInput>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Password</mat-label>
                            <input matInput [type]="passwordVisibility? 'text' : 'password'" name="password"
                                autocomplete="on" #passwordInput>
                            <mat-icon matSuffix (click)="passwordVisibility = !passwordVisibility">
                                {{passwordVisibility ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </mat-form-field>

                        <section class="ricordami-section">
                            <mat-checkbox #rememberInput matTooltip="Remember credentials" [checked]="remember"
                                (change)="remember = !remember" matTooltipPosition="right">
                                Ricordami</mat-checkbox>
                        </section>
                        <section>
                            <mat-error *ngIf="message" style="padding-top: 15px;">{{message}}</mat-error>
                        </section>
                    </form>
                </mat-card-content>
                <mat-card-actions style="padding-bottom: 18px;">
                    <button mat-raised-button color="accent" (click)="onSubmit()" class="block-h submit-btn btn-block"
                        style="font-size: 18px;">LOGIN</button>
                </mat-card-actions>
            </mat-card>

        </div>
    </div>
</div>