<div>
  <mat-toolbar color="primary" class="menu mat-elevation-z8" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex>
      <button fxShow="true" fxHide.gt-sm="true" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-button routerLink="/" class="companyName">
        <img src="../../assets/img/logo-dark.png" matTooltip="Home" (click)="setTitoloHeader('')" />
      </button>
    </div>
    <span fxFlex.lt-md="50" fxFlex class="navbar-title">{{titoloHeader}}</span>

    <div fxShow="true" fxHide.lt-md="true" fxFlex class="buttons-container">

      <!--<button mat-button routerLink="/visite-paziente" routerLinkActive="active" class="header-btn"
        (click)="changeTitle('Visite')">
        <mat-icon>people</mat-icon> item
      </button>-->
      <button mat-icon-button [matMenuTriggerFor]="impostazioniMenu" class="header-btn"
        *ngIf="isAuthorizedToNavigate('ruoli') || isAuthorizedToNavigate('utenti')">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #impostazioniMenu="matMenu">
        <button mat-menu-item routerLink="/utenti" routerLinkActive="routeActive"
          *ngIf="isAuthorizedToNavigate('utenti')">
          <mat-icon>people_alt</mat-icon>Utenti
        </button>
        <button mat-menu-item routerLink="/ruoli" routerLinkActive="routeActive"
          *ngIf="isAuthorizedToNavigate('ruoli')">
          <mat-icon>bookmarks</mat-icon>Ruoli
        </button>
      </mat-menu>

      <button mat-fab class="avatar header-btn" color="accent" [matMenuTriggerFor]="userMenu"
        [matTooltip]="userDescription">{{avatarName | uppercase}}</button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item *ngIf="userDescription != null" disabled style="color:grey!important">
          <mat-icon>person</mat-icon>{{ userDescription }}
        </button>
        <button mat-menu-item (click)="onChangePassword()">
          <mat-icon>vpn_key</mat-icon>Cambia Password
        </button>
        <button mat-menu-item (click)="onLogout()">
          <mat-icon>exit_to_app</mat-icon>Logout
        </button>
      </mat-menu>
    </div>

  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="navigation-container">

    <mat-sidenav style="min-width: 70%;" color="accent" #sidenav fxLayout="column" mode="over" opened="false"
      fxHide.gt-sm="true">
      <div fxLayout="column" style="margin-top: 10px;">
        <button mat-button routerLink="/" color="accent" class="sidenav-btn">
          <mat-icon class="sidenav-icon">home</mat-icon>Home
        </button>

        <!--<button mat-button routerLink="/visite-paziente" routerLinkActive="active" color="accent" class="sidenav-btn"
          (click)="changeTitle('Visite')">
          <mat-icon class="sidenav-icon">contact_phone</mat-icon> Visite
        </button>-->
        <button mat-button routerLink="/utenti" routerLinkActive="routeActive" color="accent" class="sidenav-btn"
          *ngIf="isAuthorizedToNavigate('utenti')">
          <mat-icon class="sidenav-icon">people_alt</mat-icon>Utenti
        </button>
        <button mat-button routerLink="/ruoli" routerLinkActive="routeActive" color="accent" class="sidenav-btn"
          *ngIf="isAuthorizedToNavigate('ruoli')">
          <mat-icon class="sidenav-icon">bookmarks</mat-icon>Ruoli
        </button>

        <button mat-button (click)="onChangePassword()" color="accent" class="sidenav-btn">
          <mat-icon class="sidenav-icon">vpn_key</mat-icon> Cambia Password
        </button>
        <button mat-button color="accent" (click)="onLogout()" class="sidenav-btn">
          <mat-icon class="sidenav-icon">exit_to_app</mat-icon> Logout
        </button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div [@routeAnimations]="prepareRoute(o)" style="margin: 20px;">
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>